spring:
  profiles:
    active: ${APP_PROFILE:test}
  jpa:
    open-in-view: false

cors:
  origins: ${CORS_ORIGIN}

springdoc:
  api-docs:
    version: openapi_3_0
    path: /api-docs
  swagger-ui:
    use-root-path: true

---

spring:
  config:
    activate:
      on-profile: test
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console

---

spring:
  config:
    activate:
      on-profile: dev
  jpa:
    properties:
      jakarta:
        persistence:
          schema-generation:
            create-source: metadata
            scripts:
              action: create
              create-target: create.sql
    hibernate:
      hbm2ddl:
        delimiter: ;
      jdbc:
        lob:
          non_contextual_creation: true
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: jdbc:postgresql://localhost:5432/dslist
    username: postgres
    password: postgres123

---

spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      jdbc:
        lob:
          non_contextual_creation: true
    hibernate:
      ddl-auto: none

